@media screen and (max-width:1000px) {
    
    nav{
        /* display: flex; */
        flex-direction: column;
    }
    .logo{
        justify-content: center;
        margin: 12px 0;
    }
    nav ul{
        justify-content: center;
    }
    .search{
        justify-content: center;
        padding-left: 30px;
    }
    .search input{
        margin: 12px 16px;
    }
    nav ul{
        height:34px;
    }
    .slider{
        height: 23vh;
    }
    .card-item img{
        width: 140px;
    }
}