.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    border-radius: 10px;

}

.btn img{
    
    width: 10px;
    padding: 5px 7px;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 12px;
    
    
}
.btn img:hover{
    width: 13px;
    

}
.my-2{
    margin: 9px 0;
}
.text-center{
    text-align: center;
}
.card-item{
    width: 14vw;
}

.sc{
    width: 190px;
    transition-property: width;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    justify-content: center;
    
}
.sc:hover{
    width: 200px;
}

.cards img{
    /* border:2px solid #2874f0; */
    border-radius: 12px;
    border: 1px solid #669ef6;

    box-shadow: 2px 2px #888;
}
.cards1 img{
    /* border:2px solid #2874f0; */
    border-radius: 12px;
    border: 1px solid #669ef6;

    box-shadow: 2px 2px #888;
}
